<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuestionario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Leer todas las preguntas del cuestionario-->
  <ion-list>
    <ion-item>
      <!-- añadir el logotipo -->
      <!-- Añadir ion-badge para el caso de acertar la respuesta, contador de intentos y mostrar todos los intentos incorrectos
      -- 1-Si se acierta: Poner color success y mostrarlo a la derecha de la página (ver-> slot)
      -- 2-Si se falla: Poner color danger y mostrarlo a la derecha de la página (ver-> slot)
      -- 3-Si hay intentos incorrectos, mostrarlos con color warning y mostrarlo a la derecha de la página (ver-> slot)
      -->

      <!-- Añadir botón para responder mediante un-->

    </ion-item>
  </ion-list>
  <!--Botón de guardar el cuestionario-->

</ion-content>
